//colors
$color-primary: #316991;
$color-primary-light: #62aade;
$color-primary-dark: #112f45;

$color-secondary-light: #ffbc57;
$color-secondary-dark: #eb9a21;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;
